
html, body{
	height: 100%;
	width: 100%;
	margin: 0px; 
	padding: 0px;
   	text-align:center;
   	background-color: #F0EADF;
}

#wrapper{
   width: 100%;
   height: 100%;
   margin:0 auto;
   color: #404040;
}

#header-module {
	height: 20%;
	
}

#content-module {
	height: 70%;
}

#navigation-module {
	height: 10%;
}

#header{
	height: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}

#answers {
	min-height: 80%;
}

#form{
	min-height: 15%;
}

.row-space{
	margin-top: 2%;
	margin-bottom: 2%;
}

.space-5 {
	margin-top: 5%;
	margin-bottom: 5%;
}

#navigation {

}

.dropdown {
	font-size: 40px;
}

.ui.dropdown .menu>.item {
	font-size: 40px;
}

.ui.search.dropdown .menu {
	max-height: 400px;
}

i.flag-icon {
	margin-right: 20px;
}

.margin-top-5 {margin-top: 5%;}
.margin-top-10 {margin-top: 10%;}
.margin-top-15 {margin-top: 15%;}
.margin-top-20 {margin-top: 20%;}
.margin-top-25 {margin-top: 25%;}
.margin-top-30 {margin-top: 30%;}

.margin-right-5 {margin-right: 5%;}
.margin-left-5 {margin-left: 5%;}

.icon-10 {width: 10%; height: 10%;}
.icon-14 {width: 14%; height: 14%;}
.icon-15 {width: 15%; height: 15%;}
.icon-20 {width: 20%; height: 20%;}
.icon-25 {width: 25%; height: 25%;}
.icon-26 {width: 26%; height: 26%;}
.icon-30 {width: 30%; height: 30%;}
.icon-35 {width: 35%; height: 35%;}
.icon-40 {width: 40%; height: 40%;}
.icon-45 {width: 45%; height: 45%;}
.icon-50 {width: 50%; height: 50%;}
.icon-55 {width: 55%; height: 55%;}
.icon-60 {width: 60%; height: 60%;}
.icon-65 {width: 65%; height: 65%;}
.icon-70 {width: 70%; height: 70%;}
.icon-75 {width: 75%; height: 75%;}
.icon-80 {width: 80%; height: 80%;}

.svg{
	display: inline-block; 
	vertical-align: bottom;
}

#btn-post-continue, #btn-post-retry, #btn-post{
	visibility: hidden;
}


#patternContainer { 
    margin: auto;
    width: 100%;
}

.btn-full-width {
	width: 100%;
}

.dropdown-list-box {
	height: 80%;
}

.dropdown-btn-box {
	height: 20%;
}

#os_notfound {
	height: 100%;
}
#os_found {
	height: 100%;
}

#age{
	font-size: 70px;
}

@media only screen and (max-device-width : 320px) and (max-device-height: 480px){
	h1 {
		font-size: 55px;
	}
	#patternContainer {
		margin-top: 30%;
	}
	.btn {
		font-size: 50px;
	}
}

@media only screen and (max-device-width : 320px) and (min-device-height: 481px){
	h1 {
		font-size: 55px;
	}

	#patternContainer {
		margin-top: 60%;
	}
	.btn {
		font-size: 55px;
	}
}
@media only screen and (min-device-width : 360px){
	h1 {
		font-size: 60px;
	}

	#patternContainer {
		margin-top: 55%;
	}

	.btn {
		font-size: 60px;
	}
}



