{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>Server error!</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers" class="margin-top-10">
    <div class="row">
      <div class="col-xs-12">
        <h3>Did you enter the survey form the start page?</h3>
      </div>
    </div>
  </div>

{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-12">
      <a href="contact" role="button" class="btn-full-width btn btn-success">Contact information</a>
    </div>
  </div>
{% endblock %}

