<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marte Løge</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/about.css">
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Marte Løge</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#about">About Me</a></li>
          <li><a href="#research">Research</a></li>
          <li><a href="#survey">Survey</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Full Width Header -->
  <header class="header-image">
    <div class="headline">
      <div class="container">
        <h1>Marte Løge</h1>
        <hr>
        <div class="row contact-icons">
          <div class="col-xs-12">
            <a href="https://www.linkedin.com/pub/marte-l%C3%B8ge/47/a63/30"><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/marteloge"><i class="fa fa-twitter"></i></a>
            <a href="https://survey.marteloge.no"><i class="fa fa-pencil-square-o"></i></a>
            <a href="mailto:marte.loge@gmail.com"><i class="fa fa-envelope-o"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
  <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="about">
      <img class="featurette-image img-circle img-responsive pull-right" src="/static/images/me2.jpg">
      <h2 class="featurette-heading">Who is <span class="text-muted">Marte Løge?</span></h2>
      <p class="lead">My name is Marte Løge. I am a computer science student at The Norwegian University of Science and Technology, specialising in software development and computer security. Currently I am finishing my master degree. Beside my studies I am involved in the Abakus student union. Employee of Itera ASA, starting full time in August.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="research">
      <img class="featurette-image img-circle img-responsive pull-left" src="/static/images/android.png">
      <h2 class="featurette-heading">My Research - <span class="text-muted">Android Pattern Locks</span></h2>
      <p class="lead">Passwords are human-chosen secrets that are connected to you as a person. When creating a password, people tend to create a password that is an association to something they know or recognize; passwords are more than just words and numbers.
      The aim of this research is to look further into how different user types select their Android Unlock Patterns. This takes previous research a step further by including the human properties that may impact the user's choice in graphical passwords like demographics and physical properties of the mobile phone. I believe that graphical passwords are more than just pictures and graphical objects.
      Will I able to predict users choice in Android Pattern Locks based analysing different user types? "Tell me who you are an I will tell you your lock pattern!"</p>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="survey">
      <img class="featurette-image img-circle img-responsive pull-right" src="/static/images/survey.png">
      <h2 class="featurette-heading">Mobile Security - <span class="text-muted">Survey</span></h2>
      <p class="lead">For my master thesis I need to collected data for my analysis of peoples choice in Android Unlock Patterns. The survey is only accessable on smartphones because this is the natural environment for the Android Pattern Lock. The survey is divided in two parts. The first part is asking you to create 3 different Android Unlock Patterns. The second part is 13 easy questions that is easily build up for you to answer on your mobile device. The survey is totally anonymous. I do not ask for or store data that are trackable back to you. The data that is being collected is only used for the research. The only persons that have access to the data is the research group. The survey is build by me, and is not provided by any third parties. If you have any questions please contact me :) Click on the icon below to access the survey.</p>

      <p class="lead">The results from my research will be published. If you have any specific questions about this, please contact me. </p>

      <div class="contact-icons">
        <a href="https://survey.marteloge.no"><i class="fa fa-pencil-square-o"></i></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Fourth Featurette -->
    <div class="featurette" id="contact">
      <img class="featurette-image img-circle img-responsive pull-left" src="/static/images/contact.png">
      <h2 class="featurette-heading">Any <span class="text-muted">Questions?</span></h2>
      <p class="lead">If you have any questions about my research or have any feedback, please contact me. You will reach me by email. Otherwise, you can follow me on twitter or read more about me on linkedIn. </p>
      <div class="contact-icons">
        <a href="https://www.linkedin.com/pub/marte-l%C3%B8ge/47/a63/30"><i class="fa fa-linkedin"></i></a>
        <a href="https://twitter.com/marteloge"><i class="fa fa-twitter"></i></a>
        <a href="mailto:marte.loge@gmail.com"><i class="fa fa-envelope-o"></i></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Marte Løge 2014</p>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>
