{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>What is your age?</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <input type="text" id="age" class="btn-full-width" placeholder="Your age">
      </div>
    </div>
  </div>
  <div class="row dropdown-btn-box">
    <div class="col-xs-12">
      <button id="submitAge" type="submit" class="btn btn-success btn-full-width">Continue</button>
    </div>
  </div>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.age.as_hidden }} 
    <input id="btn-post" type="submit" value="Submit" class="btn" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h1>{{ qnum }} / 20</h1></div>
    <div class="col-xs-4"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    addAge();
  </script>
{% endblock %}
