{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>What is your age?</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row margin-top-10">
      <div class="col-xs-10 col-xs-offset-1">
        <input type="number" autofocus="autofocus" id="age" class="btn-full-width" pattern="\d*">
      </div>
    </div>
    
    <div class="row dropdown-btn-box">
      <div class="col-xs-10 col-xs-offset-1 margin-top-5">
        <button id="submitAge" type="submit" class="btn btn-success btn-full-width">Continue</button>
      </div>
    </div>

    {% if messages %}
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          {% for message in messages %}
            <div{% if message.tags == "error" %} class="btn-full-width alert alert-danger margin-top-5" {% endif %}>{{ message }}</div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.age.as_hidden }} 
    <input id="btn-post" type="submit" value="Submit" class="btn" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-2 fixed btn-full-width"></div>
    <div class="col-xs-8 fixed btn-full-width"><h2>{{ qnum }} / 13</h2></div>
    <div class="col-xs-2 fixed btn-full-width"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      addAge();
    });
  </script>
{% endblock %}
