<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/patternLock.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dropdown.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/transition.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-social.css">
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/qs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/dropdown.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/transition.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/patternLock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/mobile-detect.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
      
      <div id="header-module" class="container">
        {% block header %}
        {% endblock %}
      </div>

      <div id="content-module" class="container">  
          {% block content %}
          {% endblock %}
      </div>

      <div id="navigation-module" class="container">
          {% block navigation %}
          {% endblock %}
      </div>

      {% block javascript %}
      {% endblock %}

    </div>
  </body>
</html> 