{% load static %}
<html>
  <head>
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/patternLock.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dropdown.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/transition.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">

    <script type="text/javascript" src="{{ STATIC_URL }}/js/qs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/dropdown.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/transition.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/patternLock.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <div id="header" class="header-module">
        <div class="page-header">
          {% block header %}
          {% endblock %}
        </div>
      </div>
      <div id="content" class="content-module">
        {% block content %}
        {% endblock %}
      </div>
      <div id="navigation" class="navigation-module">
        {% block navigation %}
          <button type="button">Back</button>
          <button type="button">Forward</button>
        {% endblock %}
      </div>

      {% block javascript %}
      {% endblock %}
    </div>
  </body>
</html> 