{% extends "questionnaire/base.html" %}

{% block header %}
    <h1>Step 4 - Finger</h1>
{% endblock %}

{% block content %}
    <div class="icons-1">
        <img id="forefinger" src="/static/images/icons/forefinger.png">
        <img id="thumb" src="/static/images/icons/tommel.png">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.finger.as_hidden }} 
        <input type="submit" value="Submit" class="btn" />
    </form>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
        qs.bindForm({
            'thumb': 'T',
            'forefinger': 'F',
        }, 'id_finger');
    </script>
{% endblock %}
