{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>Step 4 - Finger</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <img id="forefinger" class="svg img-responsive icon-35" alt="Responsive image" src="/static/images/icons/forefinger.svg"/>
        <img id="thumb" class="svg img-responsive icon-35" alt="Responsive image" src="/static/images/icons/thumb.svg"/>
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.finger.as_hidden }} 
    <input id="btn-post" type="Submit" class="btn big-btn btn-default btn-lg" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h1>{{ qnum }} / 20</h1></div>
    <div class="col-xs-4"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    qs.bindForm({
      'thumb': 'T',
      'forefinger': 'F',
    }, 'id_finger');
  </script>
{% endblock %}
