{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>What finger did you use when you created the patterns?</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers" class="margin-top-5">

    {% if hand == 'R' %}
    <div class="row">
      <div class="col-xs-12">
        <img id="forefinger" class="svg img-responsive icon-45 margin-right-5" alt="Responsive image" src="/static/images/icons/forefinger-left.svg"/>
        <img id="thumb" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/thumb-right.svg"/>
      </div>
      <div class="col-xs-12 padding-top-10">
        <img id="other" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/other.svg"/>
      </div>
    </div>
    {% endif %}
    {% if hand == 'L' %}
    <div class="row">
      <div class="col-xs-12">
        <img id="thumb" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/thumb-left.svg"/>
        <img id="forefinger" class="svg img-responsive icon-45 margin-right-5" alt="Responsive image" src="/static/images/icons/forefinger-right.svg"/>
      </div>
      <div class="col-xs-12 padding-top-10">
        <img id="other" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/other.svg"/>
      </div>
    </div>
    {% endif %}
    {% if hand == 0 %}
    <div class="row">
      <div class="col-xs-12">
        <img id="forefinger" class="svg img-responsive icon-45 margin-right-5" alt="Responsive image" src="/static/images/icons/forefinger-right.svg"/>
        <img id="thumb" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/thumb-right.svg"/>
      </div>
      <div class="col-xs-12 padding-top-10">
        <img id="other" class="svg img-responsive icon-50" alt="Responsive image" src="/static/images/icons/other.svg"/>
      </div>
    </div>
    {% endif %}
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.finger.as_hidden }} 
    <input id="btn-post" type="Submit" class="btn big-btn btn-default btn-lg" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h2>{{ qnum }} / 13</h2></div>
    <div class="col-xs-2"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      qs.bindForm({
      'thumb': 'T',
      'forefinger': 'F',
      'other': 'O',
      }, 'id_finger');
    });
  </script>
{% endblock %}
