{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>Thank you!</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <p>Thank you so much for participating! The results from my research will be published on my <a href="https://marteloge.no" target="_blank">webpage</a> in june/july. If you have any questions or comments please <a href="https://marteloge.no/#contact" target="_blank">contact</a> me. If you want to help me with this reseach, please share this survey:</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 margin-top-5">
        <img id="finish" class="svg img-responsive icon-40" alt="Responsive image" src="/static/images/icons/graduate.svg"/>
      </div>
    </div>
    <div class="row">
      <h2>Share this survey:</h2>
    </div>
    <div class="row" id="soscial-sharing">
      <div class="col-xs-12">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://survey.marteloge.no" target="_blank">
          <i class="social fa fa-facebook-square margin-right-2" style="color:#3B5998;"></i>
        </a>
        <a href="https://twitter.com/home?status=Help%20Marte%20with%20her%20master%20thesis%20by%20answering%20this%20survey%3A%20https%3A%2F%2Fsurvey.marteloge.no" target="_blank">
          <i class="social fa fa-twitter-square margin-right-2" style="color:#55ACEE;"></i>
        </a>
        <a href="https://plus.google.com/share?url=https://survey.marteloge.no/" target="_blank">
          <i class="social fa fa-google-plus-square margin-right-2" style="color:#DD4B39;"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Fsurvey.marteloge.no&title=Survey%20-%20Mobile%20Security&summary=Help%20Marte%20with%20her%20master%20thesis%20by%20answering%20this%20survey!&source=https%3A%2F%2Fsurvey.marteloge.no" target="_blank">
          <i class="social fa fa-linkedin-square margin-right-2" style="color:#007BB6;"></i>
        </a>
        <a href="http://www.reddit.com/submit?url=https%3A%2F%2Fsurvey.marteloge.no&title=Survey%20-%20Mobile%20Security" target="_blank">
          <i class="social fa fa-reddit-square" style="color:#000000;"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      $('#navigation-module').hide();
      $('#content-module').css("height","80%")
    });
  </script>
{% endblock %}