{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>Thank you!</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 margin-top-5">
        <img id="finish" class="svg img-responsive icon-40" alt="Responsive image" src="/static/images/icons/graduate.svg"/>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-12">
      <a href="rules" role="button" class="btn-full-width btn btn-success">Contact information</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
  </script>
{% endblock %}