{% extends "questionnaire/base.html" %}

{% block header %}
    <h1>Step 6 - Gender</h1>
{% endblock %}

{% block content %}
    <div class="icons-1">
        <img id="male" src="/static/images/icons/man.png">
        <img id="female" src="/static/images/icons/woman.png ">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.gender.as_hidden }}
        <input class="btn" type="submit" value="Submit" />
    </form>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        qs.bindForm({
            'male': 'M',
            'female': 'F'
        }, 'id_gender');
    </script>
{% endblock %}
