{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>In which hand did you hold your smartphone when you created the pattens?</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers" class="margin-top-20">
    <div class="row">
      <div class="col-xs-12">
        <img id="left" class="svg img-responsive icon-45 margin-right-5" alt="Responsive image" src="/static/images/icons/handedness-left.svg"/>
        <img id="right" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/handedness-right.svg"/>
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.handedness.as_hidden }} 
    <input id="btn-post" type="Submit" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h2> {{ qnum }} / 14 </h2></div>
    <div class="col-xs-2"></div>
  </div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
    $( document ).ready(function() {
      qs.bindForm({
      'left': 'L',
      'right': 'R',
      }, 'id_handedness');
    });
  </script>
{% endblock %}
