{% extends "questionnaire/base.html" %}

{% block header %}
  <h1>Step 1 - Hand Size</h1>
{% endblock %}

{% block content %}
    
    <div id="answers">
        <div class="icons-2">
            <img id="hand-small" class="small" src="/static/images/icons/hand.png">
            <img id="hand-medium" class="medium" src="/static/images/icons/hand.png">
        </div>
        <div class="icons-2">
            <img id="hand-large" class="large" src="/static/images/icons/hand.png">
            <img id="hand-xtralarge" class="xtralarge" src="/static/images/icons/hand.png">
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.handsize.as_hidden }} 
        <input type="submit" class="btn" value="Submit" />
    </form>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        qs.bindForm({
            'hand-small': 'S',
            'hand-medium': 'M',
            'hand-large': 'L',
            'hand-xtralarge': 'XL'
        }, 'id_handsize');
    </script>
{% endblock %}
