{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>How would you categorize the size of your hand based on your gender?</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <img id="hand-small" class="margin-right-10 svg img-responsive icon-25" alt="Responsive image" src="/static/images/icons/hand-small.svg"/>
        <img id="hand-medium" class="svg img-responsive icon-30" alt="Responsive image" src="/static/images/icons/hand-medium.svg"/>
      </div>
    </div>
    <div class="row margin-top-5">
      <div class="col-xs-12">
        <img id="hand-large" class="margin-right-5 svg img-responsive icon-35" alt="Responsive image" src="/static/images/icons/hand-large.svg">
        <img id="hand-xtralarge" class="svg img-responsive icon-40" alt="Responsive image" src="/static/images/icons/hand-xtralarge.svg">
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.handsize.as_hidden }} 
    <input id="btn-post" type="Submit" class="btn big-btn btn-default btn-lg" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h2>{{ qnum }} / 13 </h2></div>
    <div class="col-xs-2"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      qs.bindForm({
        'hand-small': 'S',
        'hand-medium': 'M',
        'hand-large': 'L',
        'hand-xtralarge': 'XL'
        }, 'id_handsize');
    });   
  </script>
{% endblock %}
