{% extends "questionnaire/base.html" %}

{% block header %}
    <h1>Step 3 - Handedness</h1>
{% endblock %}

{% block content %}
    <div class="icons-1">
        <img id="left" src="/static/images/icons/handedness.png">
        <img id="right" class="rotate-icon" src="/static/images/icons/handedness.png">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.handedness.as_hidden }} 
        <input class="btn" type="submit" value="Submit" />
    </form>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
        qs.bindForm({
            'left': 'L',
            'right': 'R',
        }, 'id_handedness');
    </script>
{% endblock %}
