{% extends "questionnaire/base.html" %}

{% block header %}
    <div id="header" class="row">
      <div class="col-xs-12">
        <h1>Survey - Mobile Security</h1>
      </div>
    </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <p>This survey is created by <a href="https://marteloge.no" target="_blank">Marte Løge</a> for researching the Android Unlock Patterns and mobile security. The data from this survey is collected for a master thesis conducted at The Norwegian University of Science and Technology. The survey is anonymous and you will not be asked for any personal information that will be traceable back to you (<a href="https://survey.marteloge.no/privacy" target="_blank">cookie and privacy policy</a>). The data that is being collected is only used for research purposes. If you have any questions or want to read more about the research, please go to the researcher's <a href="https://marteloge.no" target="_blank">webpage</a>.</p>
          
        {% if mobile == False %}
          <div class="alert alert-danger" role="alert">This survey is only available on smartphones</div>      
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Share this survey:</h3>
      </div>
    </div>
    <div class="row" id="soscial-sharing">
      <div class="col-xs-12">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://survey.marteloge.no" target="_blank">
          <i class="social fa fa-facebook-square margin-right-2" style="color:#3B5998;"></i>
        </a>
        <a href="https://twitter.com/home?status=Help%20Marte%20with%20her%20master%20thesis%20by%20answering%20this%20survey%3A%20https%3A%2F%2Fsurvey.marteloge.no" target="_blank">
          <i class="social fa fa-twitter-square margin-right-2" style="color:#55ACEE;"></i>
        </a>
        <a href="https://plus.google.com/share?url=https://survey.marteloge.no/" target="_blank">
          <i class="social fa fa-google-plus-square margin-right-2" style="color:#DD4B39;"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Fsurvey.marteloge.no&title=Survey%20-%20Mobile%20Security&summary=Help%20Marte%20with%20her%20master%20thesis%20by%20answering%20this%20survey!&source=https%3A%2F%2Fsurvey.marteloge.no" target="_blank">
          <i class="social fa fa-linkedin-square margin-right-2" style="color:#007BB6;"></i>
        </a>
        <a href="http://www.reddit.com/submit?url=https%3A%2F%2Fsurvey.marteloge.no&title=Survey%20-%20Mobile%20Security" target="_blank">
          <i class="social fa fa-reddit-square" style="color:#000000;"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  {% if mobile == True %}
    <div id="navigation" class="row">
      <div class="col-xs-12">
        <a href="rules" role="button" class="btn-full-width btn btn-success">Start Survey</a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
