{% extends "questionnaire/base.html" %}

{% block header %}
    <div id="header" class="row">
      <div class="col-xs-12">
        <h1>Survey - Mobile Security</h1>
      </div>
    </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
          
        {% if mobile == False %}
          <div class="alert alert-danger" role="alert">This survey is only available on mobile</div>      
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Share this survey:</h2>
      </div>
    </div>
    <div class="row" id="soscial-sharing">
      <div class="col-xs-12">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:8000/" target="_blank">
          <i class="social fa fa-facebook-square margin-right-2" style="color:#3B5998;"></i>
        </a>
        <a href="https://twitter.com/home?status=Help%20Marte%20with%20her%20master%20thesis%20by%20answering%20this%20survey%3A%20http%3A%2F%2Flocalhost%3A8000%2F" target="_blank">
          <i class="social fa fa-twitter-square margin-right-2" style="color:#55ACEE;"></i>
        </a>
        <a href="https://plus.google.com/share?url=http://localhost:8000/" target="_blank">
          <i class="social fa fa-google-plus-square margin-right-2" style="color:#DD4B39;"></i>
        </a>
        <a href="https://www.linkedin.com/shareArticle?url=http%3A%2F%2Flocalhost%3A8000%2F&title=Survey%20-%20Mobile%20Security&summary=Help%20Marte%20with%20her%20master%20thesis%20by%20answering%20this%20survey!&source=http%3A%2F%2Flocalhost%3A8000%2F" target="_blank">
          <i class="social fa fa-linkedin-square margin-right-2" style="color:#007BB6;"></i>
        </a>
        <a href="http://www.reddit.com/submit?url=http%3A%2F%2Flocalhost%3A8000%2F&title=Survey%20-%20Mobile%20Security" target="_blank">
          <i class="social fa fa-reddit-square" style="color:#000000;"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  {% if mobile == True %}
    <div id="navigation" class="row">
      <div class="col-xs-12">
        <a href="rules" role="button" class="btn-full-width btn btn-success">Start Survey</a>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
