{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12 margin-top-10">
      <h1>Create Patterns</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <p>Information about the patterns to create</p>
        <h3>Pattern 1</h3>
        <h3>Pattern 2</h3>
        <h3>Pattern 3</h3>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  <div class="row">
    <div class="col-xs-12">          
      <a href="pattern1" role="button" class="btn-full-width btn btn-success">Create patterns</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
    </script>
{% endblock %}
