{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>Create 3 patterns:</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="align-left margin-bottom-5 "><span class="margin-right-5 glyphicon glyphicon-shopping-cart glyphicon-align-right" aria-hidden="true"></span>Shopping account</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="align-left margin-bottom-5"><i class="margin-right-10 fa fa-mobile"></i>Smartphone</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <h3 class="align-left"><i class="margin-right-5 fa fa-credit-card align-right"></i>Banking account</h3>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  <div class="row">
    <div class="col-xs-12">          
      <a href="pattern1" role="button" class="btn-full-width btn btn-success">Create patterns</a>
    </div>
  </div>
{% endblock %}
