{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-2 margin-top-7">
      <i class="fa fa-credit-card"></i>
    </div>
    <div class="col-xs-10">
      <h2 class="align-left">Create a pattern for a banking account</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="sequence">
    <div id="patternContainer"></div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.sequence.as_hidden }} 
    <input id="btn-post-continue" type="Submit" value="submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div class="row">
    <div class="col-xs-6">
      <button id="retrypattern" type="submit" class="btn-full-width btn btn-primary">Retry</button>
    </div>
    <div class="col-xs-6">
      <button id="continue" type="submit" class="btn-full-width btn btn-success">Continue</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      addPattern();
    });
  </script>
{% endblock %}
