{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-2 margin-top-5 col-xs-offset-1">
      <span class="glyphicon glyphicon-shopping-cart align-right" aria-hidden="true"></span>
    </div>
    <div class="col-xs-9">
      <h2 class="align-left">Crete a pattern for a shopping account</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div id="sequence" class="col-xs-12">
        <div id="patternContainer"></div>
      </div>
    </div>
  </div> 
  <form action="" method="post">
    {% csrf_token %}
    {{ form.sequence.as_hidden }}
    {{ form.time.as_hidden }}
    <input id="btn-post-continue" type="submit" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div class="row">
    <div class="col-xs-6">
      <button id="retrypattern" type="submit" class="btn-full-width btn btn-primary">Retry</button>
    </div>
    <div class="col-xs-6">
      <button id="continue" type="submit" class="btn-full-width btn btn-success">Continue</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      addPattern();
    });
  </script>
{% endblock %}
