{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>Create 3 different patterns</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row margin-top-20">
      <div class="col-xs-3 col-xs-offset-1">
        <span class="glyphicon glyphicon-shopping-cart glyphicon-align-right" aria-hidden="true"></span>
      </div>
      <div class="col-xs-7 margin-top-2">
        <h2 class="align-left">Shopping account</h2>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-3 col-xs-offset-1">
        <i class="fa fa-mobile"></i> 
      </div>
      <div class="col-xs-7 margin-top-5">
        <h2 class="align-left">Smartphone</h2>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-3 col-xs-offset-1">
        <i class="fa fa-credit-card"></i>
      </div>
      <div class="col-xs-7 margin-top-2">
        <h2 class="align-left">Banking account</h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  <div class="row">
    <div class="col-xs-12">          
      <a href="pattern1" role="button" class="btn-full-width btn btn-success">Create patterns</a>
    </div>
  </div>
{% endblock %}
