{% extends "questionnaire/base.html" %}

{% block header %}
    <h1>Step 5 - Reading Orientation</h1>
{% endblock %}

{% block content %}
    <div class="icons-1-3">
        <img id="right" src="/static/images/icons/right.png">
    </div>
    <div class="icons-1-3">
        <img id="left" src="/static/images/icons/left.png">
    </div>
    <div class="icons-1-3">
        <img id="top" src="/static/images/icons/down.png">
    </div>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.reading.as_hidden }} 
        <input class="btn" type="submit" value="Submit" />
    </form>
{% endblock %}

{% block navigation %}

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
        qs.bindForm({
            'left': 'L',
            'right': 'R',
            'top': 'T'
        }, 'id_reading');
    </script>
{% endblock %}
