{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>In which direction do you read/write?</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1 margin-top-2">
        <img id="right" class="svg img-responsive icon-75" alt="Responsive image" src="/static/images/icons/right.svg"/>
      </div>
      <div class="col-xs-5 margin-top-3">
        <p id="reading">From left to right <b>(e.g english)</b></p>
      </div>
    </div>
    <div class="row margin-top-10">
      <div class="col-xs-5 col-xs-offset-1">
        <img id="left" class="svg img-responsive icon-75" alt="Responsive image" src="/static/images/icons/left.svg"/>
      </div>
      <div class="col-xs-5 margin-top-3">
        <p id="reading">From right to left <b>(e.g arabic)</b></p>
      </div>
    </div>
    <div class="row margin-top-10">
      <div class="col-xs-5 col-xs-offset-1">
        <img id="top" class="svg img-responsive icon-55" alt="Responsive image" src="/static/images/icons/down.svg"/>
      </div>
      <div class="col-xs-5 margin-top-3">
        <p id="reading">From top to bottom <b>(e.g chinese, japanese)</b></p>
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.reading.as_hidden }}
    <input id="btn-post" type="Submit" class="btn big-btn btn-default btn-lg" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8"><h2> {{ qnum }} / 14 </h2></div>
    <div class="col-xs-2"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      qs.bindForm({
        'left': 'L',
        'right': 'R',
        'top': 'T'
      }, 'id_reading');
    });
  </script>
{% endblock %}
