{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>The Android Unlock Pattern</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12 margin-left-5">
        <img class="svg img-responsive icon-35" alt="Responsive image" src="/static/images/icons/ALP-empty.svg"/>
        <img class="svg img-responsive icon-35" alt="Responsive image" src="/static/images/icons/click.svg"/>
      </div>
    </div>

    <div class="row margin-top-10">
      <div class="col-xs-2 col-xs-offset-1 margin-top-5">
        <img class="svg img-responsive icon-100" alt="Responsive image" src="/static/images/icons/one.svg"/> 
      </div>
      <div class="col-xs-8">
        <h3 class="align-left">Connect at least 4 dots</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-1 margin-top-5">
        <img class="svg img-responsive icon-100" alt="Responsive image" src="/static/images/icons/two.svg"/> 
      </div>
      <div class="col-xs-8">
        <h3 class="align-left">Do not visit the same node twice</h3>
      </div>
    </div>

  </div>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-6">
      <a href="training" role="button" class="btn-full-width btn btn-success">Start training</a>
    </div>
    <div class="col-xs-6">
      <a href="patterninformation" role="button" class="btn-full-width btn btn-default">Skip training</a>
    </div>
  </div>
{% endblock %}
