{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>The Android Unlock Pattern</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12 margin-left-5">
        <img id="yes" class="svg img-responsive icon-40" alt="Responsive image" src="/static/images/icons/ALP-empty.svg"/>
        <img id="yes" class="svg img-responsive icon-40" alt="Responsive image" src="/static/images/icons/click.svg"/>
      </div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2 col-xs-offset-1">
        <img id="yes" class="svg img-responsive icon-80" alt="Responsive image" src="/static/images/icons/one.svg"/> 
      </div>
      <div class="col-xs-9">
        <h2 class="align-left">Connect at least 4 dots</h2>
      </div>
    </div>

    <div class="row margin-top-5">
      <div class="col-xs-2 col-xs-offset-1">
        <img id="yes" class="svg img-responsive icon-80" alt="Responsive image" src="/static/images/icons/two.svg"/> 
      </div>
      <div class="col-xs-9">
        <h2 class="align-left">Do not visit the same node twice</h2>
      </div>
    </div>

  </div>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-6">
      <a href="training" role="button" class="btn-full-width btn btn-success">Start training</a>
    </div>
    <div class="col-xs-6">
      <a href="patterninformation" role="button" class="btn-full-width btn btn-default">Skip training</a>
    </div>
  </div>
{% endblock %}
