{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row margin-top-10">
    <div class="col-xs-12">
      <h1>The Android Unlock Pattern</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12 margin-top-20">
        <h2>The rules</h2>
        <ul>
          <li><h3>Connect at least 4 dots</h3></li>
          <li><h3>Do not visit the same node twice</h3></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-6">
      <a href="training" role="button" class="btn-full-width btn btn-success">Start training</a>
    </div>
    <div class="col-xs-6">
      <a href="patterninformation" role="button" class="btn-full-width btn btn-default">Skip training</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
{% endblock %}
