{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>Step 11 - Screenlock</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <img id="pattern" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/ALP.svg"/>
        <img id="fingerprint" class="svg img-responsive icon-35" alt="Responsive image" src="/static/images/icons/fingerprint.svg"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img id="PIN" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/PIN.svg"/>
        <img id="slide" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/slide.svg"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img id="other" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/other.svg"/>
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.screenlock.as_hidden }}
    <input id="btn-post" type="Submit" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h1> {{ qnum }} / 20 </h1></div>
    <div class="col-xs-4"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    qs.bindForm({
      'pattern': 'pattern',
      'fingerprint': 'fingerprint',
      'PIN':'PIN',
      'slide':'slide',
      'other':'other',
    }, 'id_screenlock');
  </script>
{% endblock %}
