{% extends "questionnaire/base.html" %}

{% block header %}
    <h1>Step 2 - ScreenSize</h1>
{% endblock %}

{% block content %}
    <div class="icons-3">
        <img id="screen-small" class="small" src="/static/images/icons/screen.png">
        <img id="screen-medium" class="medium" src="/static/images/icons/screen.png">
        <img id="screen-large" class="large" src="/static/images/icons/screen.png">
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.screensize.as_hidden }} 
        <input type="submit" value="Submit" class="btn"/>
    </form>
{% endblock %}

{% block navigation %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
        qs.bindForm({
            'screen-small': 'S',
            'screen-medium': 'M',
            'screen-large': 'L',
        }, 'id_screensize');
    </script>
{% endblock %}
