{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>What kind of screen lock do you use?</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="margin-top-5 col-xs-10 col-xs-offset-1">
        <select id="screenlock" class="" style="width:100%;" tabindex="-1" placeholder="Select screenlock">
          <option value=""></option>
          <option value="pattern">Android Pattern Lock</option>
          <option value="PIN">PIN code (4 digits)</option>
          <option value="fingerprint">Fingerprint</option>
          <option value="slide">Slide-to-unlock</option>
          <option value="password">Password (letters and numbers)</option>
          <option value="other">Other</option>
        </select> 
      </div>
    </div>
    <div id="description" class="row">
      <div id="pattern" class="margin-top-10 hidden description col-xs-10 col-xs-offset-1">
        <img id="pattern" class="svg img-responsive icon-40" alt="Responsive image" src="/static/images/icons/ALP.svg"/>
      </div>
      <div id="fingerprint" class="margin-top-10 hidden description col-xs-10 col-xs-offset-1">
        <img id="fingerprint" class="svg img-responsive icon-30" alt="Responsive image" src="/static/images/icons/fingerprint.svg"/>
      </div>
      <div id="PIN" class="margin-top-10 hidden description col-xs-10 col-xs-offset-1">
        <img id="PIN" class="svg img-responsive icon-60" alt="Responsive image" src="/static/images/icons/PIN.svg"/>
      </div>
      <div id="password" class="margin-top-5 hidden description col-xs-10 col-xs-offset-1">
        <h3>A password can contain letters, numbers, and special characters.</h3>
      </div>
      <div id="slide" class="margin-top-10 hidden description col-xs-10 col-xs-offset-1">
        <img id="slide" class="svg img-responsive icon-70" alt="Responsive image" src="/static/images/icons/slide.svg"/>
      </div>
      <div id="other" class="margin-top-5 hidden description col-xs-10 col-xs-offset-1">
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.screenlock.as_hidden }}
    <input id="btn-post" type="Submit" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-12">
      <button id="submit_screenlock" type="submit" class="btn btn-success btn-full-width">Submit</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      addScreenlock();
    });
  </script>
{% endblock %}
