{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h2>Training mode</h2>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div id="sequence" class="col-xs-12">
        <div id="patternContainer"></div>
      </div>
    </div>
  </div>
  <form action="" method="post">
      {% csrf_token %}
      {{ form.sequence.as_hidden }}
      {{ form.time.as_hidden }}
      <input id="btn-post-retry" type="Submit" value="submit" name="retry" />
      <input id="btn-post-continue" type="Submit" value="submit" name="continue" />
  </form>
{% endblock %}

{% block navigation %}
  <div class="row">
    <div class="col-xs-6">
      <button id="retry" type="submit" class="btn-full-width btn btn-primary">Retry</button>
    </div>
    <div class="col-xs-6">
      <button id="continue" type="submit" class="btn-full-width btn btn-success">Continue</button>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $( document ).ready(function() {
      addPattern();
    });
  </script>
{% endblock %}
