{% extends "questionnaire/base.html" %}

{% block header %}
  <div id="header" class="row">
    <div class="col-xs-12">
      <h1>Step 9 - Used ALP</h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="answers">
    <div class="row">
      <div class="col-xs-12">
        <img id="yes" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/used-ALP.svg"/>
        <img id="no" class="svg img-responsive icon-45" alt="Responsive image" src="/static/images/icons/notused-ALP.svg"/>
      </div>
    </div>
  </div>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.used_ALP.as_hidden }} 
    <input id="btn-post" type="Submit" value="Submit" />
  </form>
{% endblock %}

{% block navigation %}
  <div id="navigation" class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4"><h1> {{ qnum }} / 20 </h1></div>
    <div class="col-xs-4"></div>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    qs.bindForm({
      'yes': 'Y',
      'no': 'N'
    }, 'id_used_ALP');
  </script>
{% endblock %}
